notebooks/data/processed/egresos_hospitalarios_limpio.csv filter=lfs diff=lfs merge=lfs -text
data/egresos_hospitalarios_limpio.csv filter=lfs diff=lfs merge=lfs -text
data/raw/p4ds_grupo_c_egresos_hospitalarios.csv filter=lfs diff=lfs merge=lfs -text
